@import "../../common/style.scss";

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .content {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: column;

    @include tablet {
      max-height: 600px;
      width: 80%;
      flex-direction: row;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    .info {
      padding: 12px;
    }

    .products {
      overflow: scroll;

      @include tablet {
        width: 70%;
      }
    }

    .product {
      display: flex;
      text-align: left;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0px;
      }

      p { margin-bottom: 8px }

      img {
        width: 100px;
        height: 100px;
      }
    }

    .summary {
      padding: 20px 0;
      text-align: left;
      
      @include tablet {
        border-left: 1px solid #eeeeee;
        padding: 20px;
        width: 30%;
      }

      p {
        flex: 0 0 50%;
      }
    }

    .close {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 24px;
      cursor: pointer;
    }

    button {
      font-size: 16px;
      padding: 16px 24px;
      width: 100%;
    }
  }
}