.card {
  flex: 1 0 calc(33% - 20px);
  border: 1px solid #eeeeee;
  margin-right: 20px;
  margin-bottom: 20px;

  .info {
    padding: 20px;

    .title {
      margin-top: 0;
    }

    .price {
      font-weight: 500;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  .image {
    width: 100%;
  }
}